.body {
    font-family: "Cuprum", sans-serif;
    font-size: 13 pt;
    font-weight: normal;
    line-height: 24 pt;
}
.visually-hidden {
    display: none;
}
input[type="search"] {
    background-color: #293449;
    border: none;
    box-sizing: border-box;
    width: 270px;
    height: 42px;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
}
input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    padding: 17px 142px 17px 49px;
}
input[type="search"]::-moz-placeholder {
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    padding: 17px 142px 17px 49px;
}
.button {
    cursor: pointer;
    height: 19px;
    left: 17px;
    position: absolute;
    top: 11px;
    width: 19px;
}
.main-header-line,
.user-navigation,
.site-navigation,
.block-about,
.popular-product-list,
.p-manufacturers-list,
.list,
.footer-menu,
.footer-promo-block,
.button-feedback,
.breadcrumbs,
.filter-option,
.sorting-product,
.pagination-list {
    list-style: none;
}
.bookmarks,
.basket,
.order,
.button-feedback,
.price-sorting,
.type-sorting,
.functional-sorting {
    text-decoration: none;
}
.bookmarks {
    background: #293449;
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    outline: #293449;
    padding: 17px 44px 17px 28px;
}
.basket {
    background: #293449;
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    outline: #293449;
    padding: 17px 49px 17px 32px;
}
.bookmarks:hover,
.basket:hover {
    background: #212a3a;
    outline: #212a3a;
}
.bookmarks:active,
.basket:active {
    background: #161d29;
    color: rgba(255, 255, 255, 0.6);
    outline: #161d29;
}
.order {
    background: #63a63e;
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    outline: #63a63e;
    padding: 17px 21px 17px 22px;
}
.order:hover {
    background: #5fbb2d;
    outline: #5fbb2d;
}
.order:active {
    background: #518534;
    color: rgba(255, 255, 255, 0.6);
    outline: #518534;
}
.login-link {
    background: #ffffff;
    color: #000000;
    font-family: "Cuprum", sans-serif;
    font-size: 21pt;
    line-height: 18pt;
    padding: 12px 49px 16px 27px;
    text-decoration: none;
}
.login-link-into {
    background: #ffffff;
    color: #000000;
    font-family: "Cuprum", sans-serif;
    font-size: 21pt;
    line-height: 18pt;
    padding: 14px 25px 16px 25px;
    text-decoration: none;
}
.login-link-into:hover,
.login-link:hover {
    color: #ee3643;
}
.login-link-into:active,
.login-link:active {
    color: rgba(0, 0, 0, 0.302);
}
.about {
    font-family: "Cuprum", sans-serif;
    font-size: 16pt;
    line-height: : 23pt;
    font-style: italic;
    color: #ee3643;
}
.tel {
    font-family: "Cuprum", sans-serif;
    font-size: 21pt;
    line-height: : 18pt;
    color: #fb463c;
    border: 3px solid #ffffff;
}
.header-contacts {
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    line-height: : 24pt;
    color: # font-family: "Cuprum", sans-serif;
    font-size: 21pt;
    line-height: : 18pt;
    color: #3d546e;
}
.site-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
}
.site-navigation a {
    background-color: #3d546e;
    box-shadow: 0px 5px 0 0 #293449;
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    padding: 5px;
    text-decoration: none;
}
.site-navigation a:hover {
    background-color: #293449;
}
.site-navigation a:active {
    background-color: #293449;
    color: rgba(255, 255, 255, 0.502);
}
.promo-list1 {
    background-color: #ffbf47;
    background-image: url("../img/icon-1.svg");
    background-position: 213px 27px;
    background-repeat: no-repeat;
    height: 123;
    width: 300px;
}
.promo-list2 {
    background-color: #3bbce3;
    background-image: url("../img/icon-2.svg");
    background-position: 197px 29px;
    background-repeat: no-repeat;
    height: 123;
    width: 300px;
}
.promo-list3 {
    background-color: #dc91d8;
    background-image: url('../img/icon-3.svg');
    background-position: 191px 29px;
    background-repeat: no-repeat;
    height: 123;
    width: 300px;
}
.promo-list4 {
    background-color: #8ed78f;
    background-image: url('../img/icon-4.svg');
    background-position: 197px 29px;
    background-repeat: no-repeat;
    height: 123;
    width: 300px;
}
.promo-list5 {
    background-color: #ffc047;
    background-image: url('../img/icon-5.svg');
    background-position: 191px 29px;
    background-repeat: no-repeat;
    height: 123;
    width: 300px;
}
.promo-button {
    background-color: rgba(229, 229, 229, 0.1);
    border-radius: 3px;
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    line-height: 18px;
    padding: 14px 24px;
    text-decoration: none;
    text-transform: uppercase;
}
a.promo-button:hover {
    background-color: rgba(204, 204, 204 0.2);
}
a.promo-button:active {
    background-color: rgba(178, 178, 178, 0.3);
}
.promo h3 {
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 24pt;
    font-weight: bold;
    line-height: 30pt;
    padding: 14px 24px;
}
.gallery {
    width: 621px;
    height: 268px;
}
.gallery-h {
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 36pt;
    line-height: 30pt;
    font-weight: bold;
}
.p-gallery-content {
    color: #ffffff;
    font-family: "Cuprum", sans-serif;
    font-size: 18pt;
    line-height: 24pt;
}
.btn-gallery-content {
    background: #ee3643;
    border-radius: 3px;
    color: #ffffff;
    font: inherit;
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    height: 38px;
    line-height: 18pt;
    margin: 0px 26px;
    padding: 14px 50px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 195px;
}
.btn-gallery-content:hover {
    background: #ca2c37;
}
.btn-gallery-content:active {
    background: #ba2732;
}
.popular-product-h {
    font-family: "Cuprum", sans-serif;
    font-size: 30pt;
    line-height: 30pt;
    text-transform: uppercase;
    color: #3d546e;
    background-color: #f9f5f0;
}
.popular-product-button {
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    background-color: #ff5357;
    padding: 14px 55px 14px 55px;
}
.product-list {
    width: 220px;
    height: 318px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}
.popular-product-title:hover {
    background: #ffffff;
    box-shadow: 10 0 25px 0 #293449;
}
{
    font-family: 'PT Sans', sans-serif;
    font-size: 18pt;
    line-height: 20pt;
    color: #000000;
}
.strike {
    font-family: 'PT Sans', sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    font-weight: bold;
    text-decoration: line-through;
    color: #a9a9a9;
}
.price-b {
    font-family: 'PT Sans', sans-serif;
    font-size: 17pt;
    line-height: 18pt;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    padding: 13px 36px 13px 20px;
    position: relative;
    background: #ee3643;
    border-radius: 3px;
}
.price-b:after,
.price-b:before {
    content: '';
    position: absolute;
    right: -18px;
    top: 50%;
    background: #ee3643;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    border-radius: 3px;
    transform: rotate(45deg);
}
.manufacturers-list1 {
    width: 220px;
    height: 145px;
    background: url('../img/m-1.jpg');
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.manufacturers-list2 {
    width: 220px;
    height: 145px;
    background: url('../img/m-2.jpg');
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.manufacturers-list3 {
    width: 220px;
    height: 145px;
    background: url('../img/m-3.jpg');
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.manufacturers-list4 {
    width: 220px;
    height: 145px;
    background: url('../img/m-4.jpg');
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.manufacturers-list5 {
    width: 220px;
    height: 145px;
    background: url('../img/m-5.jpg');
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.manufacturers-list6 {
    width: 220px;
    height: 145px;
    background: url('../img/m-6.jpg');
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.manufacturers-list7 {
    width: 220px;
    height: 145px;
    background: url('../img/m-7.jpg');
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.manufacturers-list1:hover,
.manufacturers-list2:hover,
.manufacturers-list3:hover,
.manufacturers-list4:hover,
.manufacturers-list5:hover,
.manufacturers-list6:hover,
.manufacturers-list7:hover {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    box-shadow: 10 0 25px 0 #293449;
}
.manufacturers-list1:active,
.manufacturers-list2:active,
.manufacturers-list3:active,
.manufacturers-list4:active,
.manufacturers-list5:active,
.manufacturers-list6:active,
.manufacturers-list7:active {
    border: 1px solid #e5e5e5;
    background: #ffffff;
    box-shadow: 10 0 25px 0 #293449;
    opacity: 0.3;
}
.service-h {
    font-family: 'Cuprum', sans-serif;
    font-size: 30pt;
    line-height: 24pt;
    color: #000000;
}
.about-gallery-service {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    line-height: 24pt;
    color: #000000;
}
.post,
.guarantee,
.credit {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 21pt;
    line-height: 30pt;
    color: #ffffff;
}
.p-gallery-content-service {
    font-family: 'PT Sans', sans-serif;
    font-size: 21pt;
    line-height: 30pt;
    color: #000000;
}
.b {
    font-family: 'Cuprum', sans-serif;
    font-size: 36pt;
    line-height: 24pt;
    color: #3d546e;
    text-transform: uppercase;
}
.service-menu {
    width: 240px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.service-menu a {
    display: block;
    margin-bottom: 0px;
    padding: 24px 22px;
    text-decoration: none;
    color: #ffffff;
    background-color: #3d546e;
}
.service-menu a:hover {
    background: #293449;
    color: #3d546e;
}
.service-menu a:active {
    background: #ffffff;
    color: #3d546e;
}
.service-menu > li {
    position: relative;
}
.service-menu .sub-menu {
    position: absolute;
    top: 0px;
    left: 240px;
    z-index: 10;
    display: none;
    width: 700px;
    height: 286px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f4f8f9;
}
.information-h {
    font-family: 'Cuprum', sans-serif;
    font-size: 30pt;
    line-height: 24pt;
    color: #000000;
    text-transform: uppercase;
}
.block-information {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    line-height: 24pt;
    color: #000000;
}
.list {
    font-family: 'Cuprum', sans-serif;
    font-size: 18pt;
    line-height: 20pt;
    color: #000000;
}
.info {
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    background-color: #ff5357;
    padding: 14px 42px 14px 40px;
}
.map {
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    background-color: #ff5357;
    padding: 14px 64px 14px 60px;
}
.footer-contacts {
    font-family: "Cuprum", sans-serif;
    font-size: 18pt;
    line-height: 24pt;
    color: #f1f5f7;
}
.footer-menu a {
    font-family: "Cuprum", sans-serif;
    font-size: 18pt;
    line-height: 24pt;
    color: #f3f7f9;
}
.footer-promo-block a,
.button-feedback {
    font-family: "Cuprum", sans-serif;
    font-size: 18pt;
    line-height: 24pt;
    color: #ffd180;
}
.footer-menu a,
.footer-promo-block a {
    text-decoration: none;
}
}
.footer-menu a:hover,
.footer-promo-block a:hover,
.button-feedback:hover {
    text-decoration: underline;
}
.footer-menu a:active,
.footer-promo-block a:active {
    opacity: 0.5;
}
.button-feedback:active {
    color: #ee3643;
}
.coopyright,
.feedback-b {
    font-family: "Cuprum", sans-serif;
    font-size: 16pt;
    line-height: 18pt;
    color: #ffffff;
}
.block-1 {
    background-color: #f1f5f7;
}
.block-2,
.block-4 {
    background-color: #ffffff;
}
.block-3 {
    background-color: #f2f6f8;
}
.block-5 {
    background-color: #32425c;
}
.block-6 {
    background-color: #293449;
}
.login-input,
.transition {
    text-decoration: none;
}
.login-input {
    font-family: "Cuprum", sans-serif;
    font-size: 21pt;
    line-height: 18pt;
    color: #000000;
    padding: 18px 47px 16px 69px;
    background-color: #ffffff;
}
.login-input:active {
    opacity: 0.3;
}
.transition {
    font-family: "Cuprum", sans-serif;
    font-size: 16pt;
    line-height: 18pt;
    color: #32425c;
    text-decoration: underline;
}
.transition:hover {
    font-family: "Cuprum", sans-serif;
    font-size: 16pt;
    line-height: 18pt;
    color: #ee3643;
    text-decoration: underline;
}
.transition:active {
    opacity: 0.3;
    color: #32425c;
}
.home,
.catalog,
.tools {
    text-decoration: none;
}
.home,
.catalog,
.tools,
.breadcrumbs-current {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    line-height: 18pt;
    color: #000000;
    text-transform: uppercase;
}
.filters-h1 {
    font-family: "Cuprum", sans-serif;
    font-size: 30pt;
    line-height: 30pt;
    color: #32425c;
    padding: 33px 30px;
    background-color: #f2f6f8;
    width: 940px;
    height: 90 px;
}
.filters-h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    line-height: 18pt;
    color: #000000;
    text-transform: uppercase;
    padding: 14px 19px;
    border-radius: 3px;
    background-color: #f7f3ec;
    width: 220px;
    height: 38px;
}
.filters-h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 17pt;
    line-height: 30pt;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.filters fieldset {
    border: none;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    border-radius: 3px;
    border-color: #b5b5b5;
    border: 3px;
    cursor: pointer;
}
input[type="checkbox"]:hover + label {
    border-color: #c5c5c5;
}
input[type="checkbox"]:focus + label {
    border-color: #b5b5b5;
}
input[type="checkbox"]:disabled + label {
    border-color: #e9e9e9;
}
.filter-option {
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
    line-height: 20pt;
    color: #000000;
    text-transform: uppercase;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    border: 3px;
    border-radius: 11px;
    border-color: #b5b5b5;
    cursor: pointer;
}
input[type="radio"]:hover + label {
    border-color: #c5c5c5;
}
input[type="radio"]:focus + label {
    border-color: #b5b5b5;
}
input[type="radio"]:disabled + label {
    border-color: #e9e9e9;
}
input[type="submit"] {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background-color: #ffffff;
}
.filter-submit {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    line-height: 18pt;
    color: #000000;
    text-transform: uppercase;
    padding: 15px 39px 14px 40px;
}
.price-sorting,
.type-sorting,
.functional-sorting {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    line-height: 18pt;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.3;
    border-bottom: 1px dotted #ee3643;
}
.price-sorting:hover,
.type-sorting:hover,
.functional-sorting:hover {
    color: #000000;
    border-bottom: #ee3643;
    opacity: 100;
}
.price-sorting:active,
.type-sorting:active,
.functional-sorting:active {
    color: #ee3643;
    opacity: 100;
}
.buy,
.bookmarks-buy {
    text-decoration: none;
}
.buy {
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 50px 11px 45px;
    background-color: #63a63e;
    box-shadow: 0px 3px 0px 0 #367315;
    border-radius: 3px;
}
.buy:hover {
    background-color: #5fbb2d;
}
.buy:active {
    background-color: #518534;
    box-shadow: 0px 3px 0px 0;
}
.bookmarks-buy {
    font-family: "Cuprum", sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #32425c;
    text-transform: uppercase;
    padding: 14px 37px 14px 33px;
    border-radius: 3px;
    border: 3px solid #63a63e;
}
.bookmarks-buy:hover {
    border: 3px solid #32425c;
}
.bookmarks-buy:active {
    border: 3px solid #32425c;
    opacity: 0.3;
}
.pagination-item a {
    text-decoration: none;
}
.pagination-list a {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    line-height: 18pt;
    color: #000000;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
.pagination-list a:hover {
    border: 1px solid #bdc6ca;
}
.pagination-list a:active {
    border: 1px solid #ee3643;
    background-color: #ee3643;
}