.body {
    font-family: "Cuprum", sans-serif;
	line-height: 24 pt;
	font-size: 13 pt;
	font-weight: normal;
	color: #00000;
	background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
	display: none;
}

.main-header-line {
	line-height: 17pt;
	font-size: 18pt;
	color: #ffffff;
	background-color: #33445a;
}

.main-header-line,
.block-about,
.site-navigation,
.user-navigation,
.list,
.footer-menu,
.footer-promo-block {
	list-style: none;
}

.bookmarks,
.basket,
.search-form,
.order {
	text-decoration: none;
}

.bookmarks,
.basket {
	color: #ffffff;
}

.search-form {
	color: #000000;
	background-color: #293449;
}
.search-form:hover {
	background-color: #212a3a;
}

.search-form:active {
	color: #000000;
	background-color: #ffffff;
}

.bookmarks a:hover,
.basket a:hover {
    margin: 17px 21px 15px 11px;
    background-color: #212a3a; 
}

.site-navigation a:hover {
	background-color: #212a3a; 
} 

.bookmarks a:active,
.basket a:active
.site-navigation a:active {
	background-color: #161d29; 
} 

.basket-p {
 padding: 17px 21px 15px 11px;
 background-color: #ee3643;
}

.order {
	padding: 17px 17px 17px 22px;
	background-color: #63a63e;
	color: #ffffff;
}

.order:hover {
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;	
}

.block-1 {
	background-color: #f3f7f9;
}

.about {
	line-height: 23pt;
	font-size: 16pt;
	font-style: italic;
	color: #ff5357;
}

.tel {
	line-height: 18pt;
	font-size: 21pt;
	color: #ff5357;
}

.transition {
	font-size: 16pt;
	line-height: 18pt;
	color: #32425c;
	text-decoration: underline;
}

.transition:hover {
	font-size: 16pt;
	line-height: 18pt;
	color: #ee3643;
	text-decoration: underline;
}

.transition:active {
	font-size: 16pt;
	line-height: 18pt;
	color: #32425c;
	text-decoration: underline;
	opacity: 0.3;
}

.header-contacts {
	line-height: 24pt;
	font-size: 14pt;
	color: #3d546e;
}

.user-navigation a {
	line-height: 18pt;
	font-size: 21pt;
	color: #000000;
	background-color: #ffffff;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:active {
    color: #c5c5c5;
}

.breadcrumbs {
  	list-style: none;
  	font-family: PT Sans;
  	font-size: 13pt;
  	line-height: 18pt;
  	color: #000000;
  	text-decoration: underline;
}
.site-navigation a {
	color: #ffffff;
	background-color: #33445a;
}

.filter fieldset {
  		border: none;
}

.filter legend {
	font-family: PT Sans;
	font-size: 17pt;
	line-height: 30pt;
	color: #000000;
	text-decoration: underline;
}

.filter ul {
  	font-family: PT Sans;
  	list-style: none;
  	font-size: 15pt;
  	line-height: 20pt;
  	color: #000000;
}

.filter-option-input
{
  	color: #c5c5c5;	
}

.filter-option-input:hover {
 	color: #b5b5b5;
}

.filter-option-input:focus {
   	color: #e9e9e9;
   	opacity: 0.3;
}

.sorting-product {
	font-family: PT Sans; 
	font-size: 13pt;
	line-height: 18pt;
	color: #000000
	opacity: 0.3;
}

.sorting-product:hover {
	color: #000000
}

.sorting-product:active {
	color: #ee3643;
}

.catalog-list {
	list-style: none;
}

.buy {
	font-size: 14pt;
	line-height: 18pt;
	color: #ffffff;
	text-transform: uppercase;
	margin: 14px, 15px, 12px, 14px;
	background-image: url("../img/icon-cart.svg");
	background-position: 10px 14px;
    background-repeat:  no-repeat;
	background-color: #63a63e;
	border-radius: 3px;
	box-shadow: 0px 3px 0 0 #367315;
}

.buy:hover {
	background-color: #5fbb2d;
	box-shadow: 0px 3px 0 0 #367315;
}
.buy:active {
	background-color: #518534;
}

.bookmarks-buy {
	font-size: 14pt;
	line-height: 18pt;
	color: #32425c;
	text-transform: uppercase;
	margin: 11px, 12px, 13px, 12px;
    border: #63a63e;
	border-radius: 3px;
	}

.bookmarks-buy:hover {
    border: #32425c;
}

.bookmarks-buy:active {
    border: #32425c;
    opacity: 0.3;
}

.block-2,
.block-3 {
	background-color: #ffffff;
}

.promo-block h3 {
	font-size: 24pt;
	line-height: 30pt;
	font-weight: bold;
    color: #ffffff;
}

.promo {
	width: 300px;
    height: 132px;
}

.promo-list1 {
	background-image: url("../img/icon-1.svg");
	background-position: 213px 27px;
    background-repeat:  no-repeat;
	background-color: #ffbf47;
}

.promo-list2 {
	background-image: url("../img/icon-2.svg");
	background-position: 197px 29px;
    background-repeat:  no-repeat;
	background-color: #3bbce3;
}

.promo-list3 {
	background-image: url('../img/icon-3.svg');
	background-position: 191px 29px;
    background-repeat:  no-repeat;	    
	background-color: #dc91d8;
}

.promo-list4 {
	background-image: url('../img/icon-4.svg');
	background-position: 197px 29px;
    background-repeat:  no-repeat;	    
	background-color: #8ed78f;
}

.promo-list5 {
    background-image: url('../img/icon-5.svg');
	background-position: 191px 29px;
    background-repeat:  no-repeat;	    
	background-color: #ffc047;
}

.promo-button {
    padding: 14px 24px;
    border-radius: 2px;
    font-size: 14pt;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(229, 229, 229, 0.1);
	}

a.promo-button:hover {
	background-color: rgba(204, 204, 204 0.2);
}

a.promo-button:active {
	background-color: rgba(178, 178, 178, 0.3);
}

.gallery {
    width: 620;
    height: 266;

.gallery-content h3 {
    padding: 26px 30px;
	font-size: 36pt;
	line-height: 30pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #000000;
	text-transform: uppercase;

.p-gallery-content {

	font-size: 18pt;
	line-height: 24pt;
	color: #ffffff;
	background-color: #000000;
	}

.btn-gallery-content {
	margin: 0px 26px;
  	padding: 14px 50px;
  	font: inherit;
  	font-size: 14pt;
  	line-height: 18pt;
  	text-transform: uppercase;
  	color: #ffffff;
  	vertical-align: middle;
  	border-radius: 3px;
  	background: #ee3643;
  	width: 195px;
  	height: 38px;
}

.btn-gallery-content:hover {
	background: #ca2c37;;
}

.btn-gallery-content:active {
  	background: #ba2732;
}


.popular-product h1,
.popular-manufacturers h1 {
	font-size: 30pt;
	line-height: 30pt;
	color: #3d546e;
	background-color: #f9f5f0;
	text-transform: uppercase;
}

.button a {
	margin-top: : 866px;
	margin-left: 794px;
  	padding: 14px 19px 14px 55px;
  	font: inherit;
  	font-size: 14pt;
  	line-height: 18pt;
  	text-transform: uppercase;
  	color: #ffffff;
  	vertical-align: middle;
  	border-radius: 3px;
  	background: #ff5357;
  	width: 252px;
  	height: 38px;
}

.popular-product-title {
	font-family: PT Sans;
	font-size: 18pt;
	line-height: 20pt;
	font-weight: bold;
	color: #000000;
}

.popular-product-list {
	list-style: none;
}

.product-list,
.catalog-item {
	width: 222;
	height: 318;	
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.product-list:hover,
.catalog-item:hover {
	box-shadow: 0 10px 25px rgba (41, 52, 73, 0.5);
}

.p-manufacturers-list {
	list-style: none;
}

.manufacturers-list {
	width: 222;
	height: 147;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.manufacturers-list:hover {
	box-shadow: 0 10px 25px rgba (41, 52, 73, 0.5);
}

.manufacturers-list:activ {
	box-shadow: 0px
	 4px 10px rgba (41, 52, 73, 0.5);
}

.gallery-service {
	background-color: #f4f7f9;
}

.gallery-service h1 {
	font-size: 30pt;
	line-height: 24pt;
	color: #000000;
	text-transform: uppercase;
}

.about-gallery-service {
	font-family: PT Sans;
	font-size: 13pt;
	line-height: 24pt;
	color: #000000;
}

.service-button {
  	padding: 24px 23px 25px 140px;
  	font: inherit;
  	font-size: 21pt;
  	line-height: 30pt;
  	font-weight: bold;
  	color: #ffffff;
  	background: #3d546e;
  	width: 240px;
  	height: 61px;
} 

.service-button:hover {
	background: #293449;

}

.service-button:activ {
	color: #32425c;
	background: #ffffff;
}

.gallery-content-service h3 {
	font-size: 36pt;
	line-height: 24pt;
	color: #3d546e;
}

.p-gallery-content-service {
	font-family: PT Sans;
	font-size: 13pt;
	line-height: 24pt;
	color: #000000;
}

.information h1,
.contacts h1 {
	font-size: 30pt;
	line-height: 24pt;
	color: #000000;
	text-transform: uppercase;
}

 .block-information {
 	font-family: PT Sans;
	font-size: 13pt;
	line-height: 24pt;
	color: #000000;
 }

 .list {
  	font-family: PT Sans;
	font-size: 18pt;
	line-height: 20pt;
	color: #000000;	
 }

.info {
	padding: 14px 64px 14px 59px;
	text-transform: uppercase;
	font-size: 14pt;
	line-height: 18pt;
	color: #ffffff;
	background-color: #ff5357;
}

.map {
	padding: 14px 41px 14px 40px;
	text-transform: uppercase;
	font-size: 14pt;
	line-height: 18pt;
	color: #ffffff;
	background-color: #ff5357;
}

.block-4 {
	background-color: #3d546e;
}

.footer-contacts {
	font-size: 18pt;
	line-height: 24pt;
	color: #f1f5f7;
	}

.footer-menu a {
	color: inherit;

	font-size: 18pt;
	line-height: 24pt;
	color: #f1f5f7;
	}

.footer-menu a:hover {
border-bottom: 1px solid #f1f5f7;
}

.footer-menu a:activ {
opacity: 0.5;
}

.footer-promo-block a {
	color: inherit;
	font-size: 18pt;
	line-height: 24pt;
	color: #ffda96;	
}

.footer-promo-block a:hover {
	border-bottom: 1px solid #ffda96;
}

.footer-promo-block a:activ {
	opacity: 0.5;
}

.block-5 {
	background-color: #33445a;
}

.coopyright {
	font-size: 16pt;
	line-height: 18pt;
	color: #ffffff;	
}

.feedback {
	font-size: 16pt;
	line-height: 18pt;
	color: #ffffff;	
}

.feedback a {
	color: inherit;
	color: #ffda96;
}

.feedback a:hover {
	border-bottom: 1px solid #ffda96;
}

.feedback a:activ {
	color: #ee3643;
}

.pagination-list {
  	list-style: none;
}

.pagination-item a {
  	font-family: PT Sans;
  	font-size: 13pt;
  	line-height: 18pt;
  	color: #000000;
  	background-color: #ffffff;
  	border: #e5e5e5;
  	border-radius: 2px;
}

.pagination-item a:hover {
  	border: #bdc6ca;
}

.pagination-item a:active {
 	background-color: #ee3643;
}

.pagination-item-current a {
  	color: #ffffff;
  	background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  	color: #000000;